<form id="contactForm" action="https://formspree.io/{{site.email}}" method="post" novalidate>
  <div class="form__input half">
    <label for="name">名字</label>
    <input type="text" name="name" id="name" autocomplete="name" required>
  </div>

  <div class="form__input input half">
    <label for="tel">电话</label>
    <input type="text" name="_replyto" id="email" autocomplete="tel" required>
  </div>

  <div class="form__input">
    <label for="message">内容</label>
    <textarea type="text" name="message" id="message" rows="7" autocomplete="message" required></textarea>
  </div>

  <input type="hidden" name="_subject" value="Website Form submission">
  <input type="hidden" name="_format" value="plain" />
  <input class="hidden" type="text" name="_gotcha">
  <button class="btn js-submit" type="submit" value="Send">发送</button>
</form>
