


<main class="site__content">
  <section class="blog origin">
    <div class="container">
      <div class="title">
        <div class="text">党组织</div>
      </div>
      <ul class="post-list">

        {% for post in site.posts %}
          <li class="post-item">
            <img alt="常务副会长——李吉利" title="常务副会长——李吉利" class="loading" src="http://zjjcmspublic.oss-cn-hangzhou-zwynet-d01-a.internet.cloud.zj.gov.cn/jcms_files/jcms1/web2745/site/picture/0/1912120957193008896.jpg" style="display: inline;">
            <h4><a href="img1/showimg.php?id=3" title="常务副会长——李吉利" target="_self">    <span style="">市长  胡华良</span></a></h4>
            <p class="office">诸暨市店口镇党委</p>
          </li>
        {% endfor %}

      </ul>

      <div class="show-more">
          <a href="article/c_list-nid_38.html"> 查看更多 <i class="fa fa-long-arrow-right"></i> </a>
      </div>
    </div>
  </section>
</main>
<style>
  .origin{
    margin: 0 auto;
    padding: 40px 0 60px 0;
  }
  .origin ul li {
    width: 250px;
    list-style-type: none;
   text-align: center;
   padding: 25px 0px;
   margin: 0px 5px;
   position: relative;
   float: left;
   transition: box-shadow .28s linear;
   -moz-transition: -moz-box-shadow .28s linear;
   -webkit-transition: -webkit-box-shadow .28s linear;
 }
  .origin h4{
    margin: 10px 0;
  }
 .origin img{
     width: 70%;
 }
 .origin .show-more{
   text-align: center;
 }
 .origin .title .text{
   font-size: 28px;
   text-align: center;
 }
</style>
