<div class="quickly-link-box">
    <div class="quickly-link">
        <div class="title">
            <div class="text box-title-before-after">快 捷 入 口</div>
            <div class="subtitle">QUICK ENTRY</div>
        </div>
        <ul class="list-ul">
            <li class="list-item">
                <a href="http://dxsbt.zjrcfw.com/" target="_blank">
                    <div class="title-box">
                        <div class="img-box">
                            <img src="https://www.zjrcfw.com/app/template/default/images/home/quick/img1.png" />
                        </div>
                        <div class="img-title">大学生补贴申报</div>
                        <div class="img-subtitle">了解最近大学生补贴政策，申报流程、申报条件</div>
                        <a class="details-info" href="http://dxsbt.zjrcfw.com/" target="_blank">马上了解</a>
                    </div>
                </a>

            </li>
            <li class="list-item">
                <a href="http://zj.epasima.com/fhl/zhujishebao/goToDangAnSearch.json" target="_blank">
                    <div class="title-box">
                        <div class="img-box">
                            <img src="https://www.zjrcfw.com/app/template/default/images/home/quick/img2.png" />
                        </div>
                        <div class="img-title">档案查询</div>
                        <div class="img-subtitle">档案托管、补办、查找,报到证改派、补办等</div>
                        <a class="details-info" href="http://zj.epasima.com/fhl/zhujishebao/goToDangAnSearch.json" target="_blank">马上了解</a>
                    </div>
                </a>
            </li>
            <li class="list-item">
                <a href="http://sxzj.zjzwfw.gov.cn/art/2017/4/10/art_106970_227738.html" target="_blank">
                    <div class="title-box">
                        <div class="img-box">
                            <img src="https://www.zjrcfw.com/app/template/default/images/home/quick/img3.png" />
                        </div>
                        <div class="img-title">人事考试信息</div>
                        <div class="img-subtitle">公务员录用考试、专业技术人员资格考试、公务员录用考试等</div>
                        <a class="details-info" href="https://www.zjrcfw.com/article/c_list-nid_4.html" target="_blank">马上了解</a>
                    </div>
                </a>
            </li>
            <li class="list-item">
                <a href="http://www.zjzwfw.gov.cn/col/col1347442/index.html?webId=1&tabid=00001" target="_blank">
                    <div class="title-box">
                        <div class="img-box">
                            <img src="https://www.zjrcfw.com/app/template/default/images/home/quick/img4.png" />
                        </div>
                        <div class="img-title">职称查询信息</div>
                        <div class="img-subtitle">涵盖全国各省市、各行业、各央企颁发的证书</div>
                        <a class="details-info" href="http://www.zjzwfw.gov.cn/col/col1347442/index.html?webId=1&tabid=00001" target="_blank">马上了解</a>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="list-ul">

            <li class="list-item">
                <a href="javascript:void(0)">
                    <div class="title-box">
                        <div class="img-box">
                            <img src="https://www.zjrcfw.com/app/template/default/images/home/quick/img5.png" />
                        </div>
                        <div class="img-title">应届生服务</div>
                        <div class="img-subtitle">应届生服务类简历模版、免费职位发布</div>
                        <a class="details-info" href="javascript:void(0)">马上了解</a>
                    </div>
                </a>
            </li>
            <li class="list-item">
                <a href="http://sxzj.zjzwfw.gov.cn/art/2014/5/12/art_23595_7014.html" target="_blank">
                    <div class="title-box">
                        <div class="img-box">
                            <img src="https://www.zjrcfw.com/app/template/default/images/home/quick/img6.png" />
                        </div>
                        <div class="img-title">继续教育</div>
                        <div class="img-subtitle">对专业技术人员的知识和技能进行更新、补充、拓展和提高，进一步完善知识结构</div>
                        <a class="details-info" href="http://sxzj.zjzwfw.gov.cn/art/2014/5/12/art_23595_7014.html" target="_blank">马上了解</a>
                    </div>
                </a>
            </li>
            <li class="list-item">
                <a href="https://www.zjrcfw.com/article/c_list-nid_8.html" target="_blank">
                    <div class="title-box">
                        <div class="img-box">
                            <img src="https://www.zjrcfw.com/app/template/default/images/home/quick/img7.png" />
                        </div>
                        <div class="img-title">职业技能教育</div>
                        <div class="img-subtitle">培养应用人才和拥有高级专业知识技能的人才</div>
                        <a class="details-info" href="https://www.zjrcfw.com/article/c_list-nid_8.html" target="_blank">马上了解</a>
                    </div>
                </a>
            </li>
            <li class="list-item">
                <a href="http://www.zhuji.gov.cn/art/2020/4/21/art_1405536_15664626.html" target="_blank">
                    <div class="title-box">
                        <div class="img-box">
                            <img src="https://www.zjrcfw.com/app/template/default/images/home/quick/img8.png" />
                        </div>
                        <div class="img-title">人才绿卡业务</div>
                        <div class="img-subtitle">申请人才绿卡，享受更好待遇。了解更多服务</div>
                        <a class="details-info" href="http://www.zhuji.gov.cn/art/2020/4/21/art_1405536_15664626.html" target="_blank">马上了解</a>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
