---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site zhu-home-box">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="./assets/img/{{ site.hero_img }}">
      <div class="hero__wrap">
        <h1 class="hero__title">店口镇</h1>
        <p class="hero__meta">{{ site.tagline }}</p>
      </div>
    </div>


    <!-- 图文资讯 -->
    {% include swiperMessage.html %}

    <!-- 快捷入口 -->
    {% include quick.html %}

    <!-- 党支部列表 -->
    {% include origin.html %}


    {% include footer.html %}

  </body>

</html>
